body {
	background-color: #f9f9f9;
	font-family: Ubuntu, sans-serif;
}

.center {
	position: relative;
	left: 50%;
	transform: translateX(-50%)
}

.About {
  align-items: center;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  padding: 4em 0;
}
